.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 100px;
}

.flags {
  border: 20px solid #2a9d8f;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: #e76f51;
  color: #e9c46a;
}

body {
  background-color: #264653;
}

.input-container {
  font-size: xx-large;
  color: #e9c46a;
}
